# Scrap allociné

In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
from bechdelai.data.allocine import get_movies
from bechdelai.data.allocine import get_tmdb_ids
from bechdelai.data.tmdb import get_movies_from_ids
from bechdelai.data.allocine import ALLOCINE_FILTERS, VALID_SORT_BY

from IPython.display import Markdown, display

## Filters

In [3]:
def print_filters(key):
    print("'" + "', '".join(list(ALLOCINE_FILTERS[key].keys())) + "'")


### Possible genres

In [4]:
print_filters("genres")

'Action', 'Animation', 'Arts Martiaux', 'Aventure', 'Biopic', 'Bollywood', 'Classique', 'Comédie', 'Comédie dramatique', 'Comédie musicale', 'Concert', 'Dessin Animé', 'Divers', 'Drama', 'Drame', 'Epouvante-horreur', 'Erotique', 'Espionnage', 'Evenement Sportif', 'Expérimental', 'Famille', 'Fantastique', 'Guerre', 'Historique', 'Judiciaire', 'Musical', 'Médical', 'Opéra', 'Policier', 'Péplum', 'Romance', 'Science Fiction', 'Spectacle', 'Thriller', 'Western'


### Possible years

In [5]:
print_filters("années")

'2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899'

### Possible countries

In [17]:
ALLOCINE_FILTERS.keys()

dict_keys(['genres', 'décénnies', 'pays', 'années'])

In [6]:
print_filters("pays")

'France', 'U.S.A.', 'Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne', 'Allemagne de l'Est', 'Allemagne de l'Ouest', 'Argentine', 'Arménie', 'Australie', 'Autriche', 'Belgique', 'Bengladesh', 'Bolivie', 'Bosnie-Herzégovine', 'Brésil', 'Bulgarie', 'Burkina Faso', 'Cambodge', 'Cameroun', 'Canada', 'Chili', 'Chine', 'Chypre', 'Colombie', 'Corée', 'Corée du Sud', 'Croatie', 'Cuba', 'Côte-d'Ivoire', 'Danemark', 'Egypte', 'Emirats Arabes Unis', 'Espagne', 'Estonie', 'Finlande', 'Grande-Bretagne', 'Grèce', 'Géorgie', 'Hong-Kong', 'Hongrie', 'Inde', 'Indonésie', 'Irak', 'Iran', 'Irlande', 'Islande', 'Israël', 'Italie', 'Japon', 'Jordanie', 'kazakhstan', 'Kenya', 'Lettonie', 'Liban', 'Lituanie', 'Luxembourg', 'Macédoine', 'Malaisie', 'Mali', 'Maroc', 'Mexique', 'Mongolie', 'Monténégro', 'Nigéria', 'Norvège', 'Nouvelle-Zélande', 'Pakistan', 'Palestine', 'Pays-Bas', 'Philippines', 'Pologne', 'Porto Rico', 'Portugal', 'Pérou', 'Qatar', 'Roumanie', 'Russie', 'République dominicaine', 'République tchèque', 'Serbie', 'Singapour', 'Slovaquie', 'Slovénie', 'Sri Lanka', 'Suisse', 'Suède', 'Syrie', 'Sénégal', 'Taïwan', 'Tchécoslovaquie', 'Thaïlande', 'Tunisie', 'Turquie', 'Ukraine', 'Uruguay', 'Vietnam', 'Vénézuela'

### Possible sorting

In [8]:
print(list(VALID_SORT_BY.keys()))

['popularity', 'alphabetic', 'press_note', 'public_note']

## Get allocine movies

In [16]:
%%time
movies = get_movies(
    n_movies=30, 
    country="France", 
    year=2019, 
    sort_by="popularity", 
    verbose=True
)

Scrap url: https://www.allocine.fr/films/pays-5001/decennie-2010/annee-2019/?page=1
Scrap url: https://www.allocine.fr/films/pays-5001/decennie-2010/annee-2019/?page=2
Wall time: 1.02 s

### Get TMDB ids

In [10]:
%%time
movies_id = get_tmdb_ids(movies)

Wall time: 21.1 s

## Get data from tmdb

In [11]:
%%time
movies_df, crew_df, cast_df = get_movies_from_ids(movies_id)

Wall time: 26 s

In [12]:
movies_df.head(3)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,None,None,0,"[{'id': 18, 'name': 'Drama'}]",,788933,tt11188010,en,L'Ombre d'un mensonge,...,2022-03-23,0,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Nobody Has to Know,False,6.0,3
1,False,/xPLM2q3aHEXlEc3MQY4EHgMkdZp.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",,484468,tt7458762,fr,Le Chant du loup,...,2019-02-20,12652790,115,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,The Wolf's Call,False,7.6,1514
2,False,/5nq95dRJCltmrA2PJniSW5mSfWh.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}]",,589970,tt9908390,fr,Le Lion,...,2020-01-29,0,95,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,The Lion,False,5.3,143

In [13]:
crew_df.head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,credit_id,department,job
0,False,2,788933,Acting,Bouli Lanners,Bouli Lanners,2.554,/b5RO3EEJoLWyj5np5bGQBikAP3q.jpg,600a93937d5504003ebf88b7,Directing,Director
1,False,2,788933,Acting,Bouli Lanners,Bouli Lanners,2.554,/b5RO3EEJoLWyj5np5bGQBikAP3q.jpg,6140a23460c7510062e0a277,Writing,Writer
2,False,2,788933,Production,Jacques-Henri Bronckart,Jacques-Henri Bronckart,0.600,/qCxqKIVN2OEOfq044rkKIR2F9yh.jpg,61f2ff21ac8e6b006f2cec16,Production,Producer
3,False,0,788933,Costume & Make-Up,Elise Ancion,Elise Ancion,0.902,None,61f2ff519a3c4900c054db51,Costume & Make-Up,Costume Design
4,False,2,788933,Directing,Tim Mielants,Tim Mielants,2.489,/xCJc9SIcRRumlSQ8AEgWVI4Snpa.jpg,61f3108b10923001217c794d,Directing,Director

In [14]:
cast_df.head()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,cast_id,character,credit_id,order
0,False,1,788933,Acting,Michelle Fairley,Michelle Fairley,9.028,/j8lQfEPHCKWV2QCiJJuH97CnoBX.jpg,3,Millie,600a939b23d278003d368126,1
1,False,2,788933,Acting,Bouli Lanners,Bouli Lanners,2.554,/b5RO3EEJoLWyj5np5bGQBikAP3q.jpg,4,Phil,600a93a2d70594003e1d19c4,2
2,False,2,788933,Acting,Cal Macaninch,Cal Macaninch,3.037,/1kdmHGHocP4bZvzh11FODZlieob.jpg,5,Peter,600a93a83520e80051680266,3
3,False,2,788933,Acting,Clovis Cornillac,Clovis Cornillac,1.709,/8wokcSilL7u4V8aKcagI7elKsgn.jpg,6,Benoit,600a93af23d278004036a138,4
4,False,2,788933,Acting,Julian Glover,Julian Glover,5.573,/yqFGLoY6CRy9jGp3NI328VlsaIG.jpg,7,Angus,600a93b63f8ede0041627bd1,5